<div class="body-content">
  <div class="packages">
    <div class="packages-1">
      <span class="packages-info">Packages and specials</span>
      <span class="packages-btn"><a routerLink="view-more">View More</a></span>
    </div>

    <div class="packages-2">
      <span class="about-user">User</span>
      <span><button class="signout" (click)="logout()">Sign Out</button></span>
    </div>
  </div>

  <nav>
    <div class="navbar">
      <div class="nav-left">
        <img src="assets/images/yukie-natori-logo.webp" />
      </div>
      <div class="nav-right">
        <ul>
          <li class="nav-ser text-white">Spa Services</li>
          <li class="nav-ser text-white">Massage</li>
          <li class="nav-ser text-white">Face</li>
          <li class="nav-ser text-white">Nail</li>
          <li class="nav-ser text-white">Hair</li>
          <li class="nav-ser text-white">Specials</li>
          <li class="nav-ser text-white">Products</li>
          <li class="nav-ser text-white">More</li>
          <li class="nav-ser text-white">Blog</li>
          <li class="nav-ser text-danger">Online Shop</li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <app-home-page></app-home-page> -->
</div>
<router-outlet></router-outlet>
