<div class="body-content">
    <!-- hero section  -->
    <div class="hero-section">
      <h1 class="text-white">YUKIE NATORI NEW YORK</h1>
      <h2 class="text-white">SALON & SPA</h2>
    </div>
  
    <!-- Services  -->
    <div class="services">
      <h1>SERVICES WE OFFER</h1>
      <div class="services-sec-1">
        <div class="our-services spa">
          <img src="assets/images/spa.jpg" />
          <h3>SPA</h3>
          <a href="#">MORE</a>
        </div>
        <div class="our-services nail">
          <img src="assets/images/nail.jpg" />
          <h3>NAIL</h3>
          <a href="#">MORE</a>
        </div>
        <div class="our-services hair">
          <img src="assets/images/hair.jpg" />
          <h3>HAIR</h3>
          <a href="#">MORE</a>
        </div>
      </div>
      <div class="services-sec-2">
        <div class="our-services massage">
          <img src="assets/images/massage.jpg" />
          <h3>MASSAGE</h3>
          <a href="#">MORE</a>
        </div>
        <div class="our-services facial">
          <img src="assets/images/Facial.jpg" />
          <h3>FACIAL</h3>
          <a href="#">MORE</a>
        </div>
      </div>
    </div>
    <!-- <div class="publishtion">
      <h2>PUBLISHED IN</h2>
      <div class="publishin-img">
          <img src="assets/images/advertisement.webp"/>
      </div>
    </div> -->
  
    <div class="publisher">
      <div class="publishin">
        <h2>PUBLISHED IN</h2>
      </div>
      <div class="publish-img">
        <img src="assets/images/advertisement.webp" alt="" />
      </div>
    </div>
  
    <div class="contactus">
      <button class="contact-btn">CALL US</button>
      <button class="contact-btn">BOOK MASSAGE OR FACIAL ONLINE</button>
    </div>
  
    <div class="aboutspa">
      <h2>JOSIANE LAURE HEAD SPA BY YUKIE NATORI NEW YORK</h2>
      <img src="assets/images/about-section.jpg" alt="" class="aboutspa-img" />
      <div class="txt">
        A hair stylist and hair diagnostician, owner Yukie Natori encountered
        Josiane Laure’s head spas at Salon de Sephola, a legendary luxury spa in
        Japan 20 years ago. In 2019, she received direct instruction and
        certification in this method from Josiane Laure.
      </div>
      <div class="txt">
        Born in the rich lands of France and certified organic at the highest
        level, her high quality, highly concentrated aromatic oils deeply
        penetrate and work on your mind and body.
      </div>
      <div class="txt">
        The Josian Laure method stimulates the energy points of the head and
        activates the entire body because the head is the place in the body where
        nerves and blood vessels are concentrated.
      </div>
      <div class="txt">
        This luxurious treatment is the only one available here in the United
        States. We invite you to experience Madame Josiane’s method, which states,
        “being physically healthy will lead to true beauty.”
      </div>
      <div class="about-btn">
        <button class="moreabout">MORE ABOUT HEAD SPA</button>
      </div>
    </div>
    <footer>
      <div class="foot">
        <div class="foot-img">
          <img src="assets/images/YukieNatoriNYC-logo.png" alt="" />
        </div>
        <div class="address">
          <p>39 WEST 56TH STREET NEW YORK, NY 10019</p>
          <p>212.810.6900</p>
          <p>646.649.5324</p>
          <p>INFO &#64; YUKIEBEAUTY.COM</p>
          <p>MON-SAT 10AM-9PM/SUN 10AM-8PM</p>
        </div>
        <div class="socialmedia">
          <p>FOLLOW US ON</p>
          <p>INSTAGRAM</p>
          <p>FACEBOOK</p>
        </div>
        <div class="copyright">
          <p>
            &copy; 2023 <span class="promo">CHOOSE US AGENCY</span> ALL RIGHTS
            RESERVED.
          </p>
        </div>
      </div>
    </footer>
  </div>
  <router-outlet></router-outlet>